.chat-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
}

.messages-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: calc(100vh - 160px);
}

.message {
    max-width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    color: #fff;
    word-wrap: break-word;
}

.received {
    background-color: #b03a2e;
    align-self: flex-start;
}

.sent {
    background-color: #3498db;
    align-self: flex-end;
}

.chat-form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.chat-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.chat-submit {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.chat-submit:hover {
    background-color: #0b5ed7;
}

.messages-container::-webkit-scrollbar {
    width: 8px;
}

.messages-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.new-messages-banner {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
}

.new-messages-banner:hover {
    background-color: #0b5ed7;
}
