.bank-account{
  display: flex;
  width: 100%;
  padding: 50px;
}

.bank-account-item{
  display: flex;
  flex-direction: column;
}

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .bank-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .message {
    margin-top: 10px;
    color: #d9534f;
  }
  
  .success-message {
    text-align: center;
    padding: 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
  }

  .accounts{
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    gap: 20px;
  }

  .no-account{
    width: 100%; 
    text-align: center;
    display: flex; 
    justify-content: center;
  }

  .no-account-text{
    align-self: center; 
    justify-self: center;
  }
  
  .bank-account-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f3eded;
    width: max-content;
    height: max-content;
    padding: 20px;
    background: linear-gradient(
    127deg,
    hsla(0, 62%, 81%, 0.16) 17.35%,
    hsla(0, 0%, 85%, 0.04) 76.2%
    
  );
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .bank-account-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  .bank-account-item p {
    margin: 5px 0;
    font-size: 16px;
    // color: #333;
  }
  
  .bank-account-item strong {
    font-weight: 600;
  }

  .delete-btn{
    background-color: red;
    width: max-content;
    padding: 10px;
    align-self: center;
    cursor: pointer;
  }
  