@import "../mixins.scss";
// @include respond(phone) {
//   display: none;
// }
.dashboard-container {
  background-image: url(../assets/black-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
  position: fixed;
  overflow-y: scroll;
  @include respond(phone) {
    padding-left: 10px;
    padding-right: 10px;
  }

}
.dashboard-wrap {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
}
.total-balance-wrap {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  border-radius: 12px;
  @include respond(phone) {
    flex-direction: column;
  }
}
.total-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  gap: 7px;
  background: linear-gradient(
    127deg,
    hsla(0, 62%, 81%, 0.16) 17.35%,
    hsla(0, 0%, 85%, 0.04) 76.2%
  );
  width: 50%;
  border-radius: 12px;
  @include respond(phone) {
    width: 100%;
  }
}
.total-left-wrap{
  display: flex;
  align-items: center;
  gap: 7px;
  h2{
    @include respond(phone) {
      font-size: 19px;
    }
  }
  
}
.total-right {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  gap: 7px;
  background: linear-gradient(
    127deg,
    hsla(0, 62%, 81%, 0.16) 17.35%,
    hsla(0, 0%, 85%, 0.04) 76.2%
  );
  width: 50%;
  border-radius: 12px;
  @include respond(phone) {
    width: 100%;
    display: none;
  }
}
/* **************************************portfolio&reward***************** */
.portfolio-reward-wraper {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  @include respond(phone) {
    flex-direction: column;
    margin-top: 20px;
  }
}
.card-bal {
  padding: 10px 0px;
  h2{
    @include respond(phone) {
      font-size: 18px;
    }
  }
}
.card-wrap {
  width: 100%;
  border-radius: 15px;
  padding: 2rem;
  background: linear-gradient(
    127deg,
    hsla(0, 0%, 100%, 0.16) 17.35%,
    hsla(0, 0%, 85%, 0.04) 76.2%
  );
  @include respond(phone) {
    padding: 15px;
  }
}


.border-transparent {
  position: relative;
}

.border-transparent:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(127deg,hsla(0,0%,80%,.2),hsla(0,0%,80%,0) 100%);
  border-radius: inherit;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude
}











.reward-card-wrap {
  width: 100%;
}
.card-title-wrap {
  display: flex;
  align-items: center;
  gap: 7px;
}
.card-icon {
  padding: 9px;
  border-radius: 5px;
  background: linear-gradient(
    127deg,
    hsla(0, 62%, 81%, 0.16) 17.35%,
    hsla(0, 0%, 85%, 0.04) 76.2%
  );
}
// .port-component-wrap {
// }
.card-component-1 {
  display: flex;
  align-items: center;
  width: 100%;
  
}
.card-list-wrap {
  padding-top: 7px;
  border-top: 1px solid;
  border-color: rgba(229, 229, 229, 0.1);
  width: 100%;
  

}
.card-wrap h5 {
  color: grey;
  font-weight: 400;
  @include respond(phone) {
    font-size: 10px;
  }
}
.card-wrap p {
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 400;
  @include respond(phone) {
    font-size: 13px ;
  }
}

.card-component-2 {
  display: flex;
  align-items: center;
}

.card-reward-wrap {
  padding-top: 7px;
  padding-bottom: 3px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  @include respond(phone) {
    gap: 5px;
  }
}
.card-reward-wrap img {
  width: 50px;
  @include respond(phone) {
    width: 30px;
  }
}
.reward-value h5 {
  color: grey;
  font-weight: 300;
}
.reward-value p {
  font-size: 18px;
  color: #fff;
  @include respond(phone) {
    font-size: 13px;
  }
}
.border-line{
  border-top: 1px solid;
  border-color: rgba(229, 229, 229, 0.1);
  gap: 20px;
  @include respond(phone) {
    gap: 10px;
  }
}
.btn-deposit-withdrwal{
  // border-top: 1px solid;
  // border-color: rgba(229, 229, 229, 0.1);
  // padding: 15px 10px;
  padding-top: 7px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  gap: 15px;
  @include respond(phone) {
    gap: 10px;
  }
  button{
  padding: 10px 20px;
  border-radius: 7px;
  background-color: rgb(29 35 43 );
  color: #fff;
  @include respond(phone) {
    padding: 7px 12px;
    font-size: 12px;
  }
  }
}

/* *******************************************big-card********************************** */
.big-card-wrap {
  border: 1px solid;
  border-color: rgb(49 54 61 );
    border-radius: 12px;
  margin: 30px 0px;
  // background: linear-gradient(
  //   127deg,
  //   hsla(0, 62%, 81%, 0.16) 17.35%,
  //   hsla(0, 0%, 85%, 0.04) 76.2%
  // );
}
.funding-wrap {
  // margin: 30px 0px;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  /* background-color: rgb(29 35 43 ); */
}

.funding-wrap button {
  padding: 10px 20px;
  border-radius: 7px;
  background-color: rgb(29 35 43 );
  color: #fff;
}
.mining-value-wrap {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  h3 {
    color: rgb(212 212 212);
    font-weight: 400;
    font-size: 16px;
    span {
      font-size: 18px;
      color: #fff;
      font-weight: 500;
    }
  }
}
.mine-wrap {
  display: flex;
  flex-direction: column;
  h3 {
    color: rgb(212 212 212);
    font-weight: 400;
    font-size: 16px;
    span {
      font-size: 18px;
      color: #fff;
      font-weight: 500;
    }
  }
}

.table-wrap {
  margin-top: 20px;
  max-height: 200px; 
  overflow-y: auto;
  h3 {
    padding-left: 30px;
    text-align: center;
  }
}
.table-wrap th {
  background-color: rgb(29 35 43 ); 
  position: sticky;
  top: 0; 
  z-index: 1; 
}
.no-history{
  text-align: center;
  height: 100px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 0px 30px;
  background-color: rgba(229, 229, 229, 0.1);
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid;
  border-color: rgba(229, 229, 229, 0.1);
  padding-left: 26px;
  padding-right: 26px;
  @include respond(phone) {
    padding-left: 7px;
    padding-right: 7px;
  }
}

th {
  // background-color: #f2f2f2;
  border-top: 1px solid;
  border-color: rgba(229, 229, 229, 0.1);
  font-weight: bold;
  @include respond(phone) {
    font-size: 12px;
  }
}
tbody{
  @include respond(phone) {
    font-size: 12px;
  }
}


.histroy-wrap h3 {
  padding-left: 30px;
  text-align: center;
}

.currency-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 45px;
    @include respond(phone) {
      width: 25px;
    }
  }
}
.copy-right-wrap{
  padding: 20px 0px;
  color: #fff;
  border-top: 1px solid;
  border-color: rgba(229, 229, 229, 0.1);
  display: flex;
  align-items: center;
  @include respond(phone) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
.deposit {
  color: green;
}

.withdrawal {
  color: red;
}


//KESOLINK TO ADD PROPERLY
.strike-naira {
  position: relative;
  display: inline-block;
}

.strike-naira::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: currentColor;
  transform: translateY(-50%);
}
