.home-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero {
    text-align: center;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .image-container {
    margin: 20px 0;
  }
  
  .mining-image {
    width: 300px;
  }
  
  .cta-button {
    width: 300px;
    padding: 20px;
    background-color: #091e32;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  