
.login-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.login-wrap2{
  width: 40%;
  position: relative;
  background-color: var(--bg-light);
  border-radius: 20px;
}

/* .login-wrap2{
  width: 40%;
  position: relative;
  background-image: url(../assets/box_bg.png);
}
.login-wrap2:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,  #44a08d 0, #093637 47.6%, transparent 65.23%);
  z-index: 1;
  border-radius: 0 0 20px 20px;
} */
.login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
  }
  .login-container h2{
    margin-bottom: 25px; 
  }
  
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-form-group {
    width: 50%;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form-group input {
    outline: none;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    color: #fff;
    background-color: hsla(0, 0%, 100%, .07) ; 
  }
  
  .btn-login {
    width: 25%;
    padding: 15px;
    background-color: #091e32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .reg-link{
    margin-top: 5px;
  }
  .reg-link-reg{
    color: #fff;
  }



  @media (min-width: 320px) and (max-width:480px){
    .login-container {
      width: 90%;
      
    }
    .login-wrap2{
      width: 100%;
      position: relative;
      background-color: var(--bg-light);
      border-radius: 20px;
      margin: 0px 20px;
    }
  
    .login-form-group {
      width: 100%;
      margin-bottom: 20px;
    }
    .btn-login{
      font-size: 18px;
      /* background-color: aqua; */
      padding: 10px 30px;
      width: 120px;
      margin: 5px 0px;
    }
    /* .btn-login {
      width: 25%;
      padding: 15px;
      background-color: #091e32;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 20px 0px;
    } */
   
  }
  @media (min-width: 481px) and (max-width:1024px){
    
  }
  @media (min-width: 1024px) {
    
  }