.reg-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  
}
@keyframes alltuchtopdown {
  0% {
      transform: rotateX(0deg) translateY(0)
  }

  50% {
      transform: rotateX(0deg) translateY(-30px)
  }

  to {
      transform: rotateX(0deg) translateY(0)
  }
}
.img-1{
  transition: all .3s ease-out 0s;
  vertical-align: middle;
  position: absolute;
  top: 20%;
  left: 10%;
  animation-name: alltuchtopdown;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.img-2{
  position: absolute;
  top: 60%;
  right: 10%;
  animation-name: alltuchtopdown;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
}

.register-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #0f101e;
  }
  
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .reg-form-group {
    width: 50%;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .reg-form-group input {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    background-color: hsla(0, 0%, 100%, .07) ; 
  }
  .yep{
    background-color: hsla(0, 0%, 100%, .07) !important; 
  }

  .reg-btn{
    width: 50%;
    padding: 15px 30px;
    background-color: #091e32;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .reg-link{
    margin-top: 5px;
  }
  .reg-link span{
    color: gray;
  }
  .login-span{
    color: #fff;
  }

  @media (min-width: 320px) and (max-width:480px){
    .reg-wrap{
      display: flex;
      justify-content: center;
      
      width: 100%;
      height: 100%;
      
    }
    .register-container {
      width: 90%;
      
    }
    .reg-form-group {
      width: 100%;
      margin-bottom: 20px;
    }
    .img-1{
      display: none;
    }
    .img-2{
      display: none;
    }
   
  }
  @media (min-width: 481px) and (max-width:1024px){
    
  }
  @media (min-width: 1024px) {
    
  }
  