// ************modal-style************************
// .b-s-modal-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.8);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 1000;
// }
// .b-s-modal-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.8);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 1000;
// }
// .b-s-modal {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   width: 30%;
//   height: max-content;
//   display: flex;
//   border-radius: 12px;    
//   transform: translate(-50%, -50%);
//   padding: 20px;
//   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
//   z-index: 1000;
//   background-color: var(--modal-background-color);
// }


// ************modal-style-end************************





.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #fff;
}

.transaction-btn {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(21, 31, 43, 0.4);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 12px;
  margin: auto;
}

.active {
  background: #221d1d;
}

.buy-sell-btn {
  width: 100px;
  padding: 10px 15px;
  // margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.transaction-btn {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #0056b3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.active {
  background: #030303;
  color: whitesmoke;
}

.modal h4 {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.modal p {
  font-size: 16px;
  margin-bottom: 10px;
}

.warning {
  color: #d9534f;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.step-2,
.step-3 {
  padding: 20px;
  border-radius: 5px;
}

.step-2 h4,
.step-3 h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.step-2 p,
.step-3 p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.step-3 {
  text-align: center;
}

.step-3 h4 {
  color: #28a745;
}

.step-3 .transaction-btn {
  margin-top: 20px;
}

.currency-wrap {
  display: flex;
  align-items: center;

  select {
    width: 150px;
  }
  h1 {
    color: whitesmoke;
  }
  h2 {
    color: greenyellow;
  }
}

.est-wrap {
  display: flex;
  flex-direction: column;

  .est {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

hr {
  height: 5px;
  color: gray;
  margin-bottom: 10px;
  width: 150%;
  align-self: center;
}

.amount-type-toggle {
  margin-bottom: 10px;
}

.amount-type-toggle .btn {
  width: 100px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.amount-type-toggle .active {
  background: #221d1d;
}

.succe {
  text-align: center;
  padding: 30px 20px;
  // background-color: #eaf7f0;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.succe h3 {
  color: #28a745;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.succe button.btn {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.succe button.btn:hover {
  background-color: #218838;
}

.succe button.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.4);
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  // background: #f44336;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.trans {
  background-color: transparent;
  color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// **************kesolink-code**************************
// .buysell-container {
//   width: 100%;
// .spend-wrap{
//   h3{
//     font-size: 18px;
//   }
//   .fiat-bal-wrap{
//     display: flex;align-items: center;
//     gap: 4px;
//     padding: 3px 8px ;
//     margin-top: 5px;
//     border-radius: 12px;
//     background-color: rgba(26, 39, 54, 0.8);
//     width: fit-content;
//     font-size: 12px;
//     span:nth-child(1){
//       color: rgb(212 212 212);
//     }
//   }
// }
//   .spend-component {
    
//     display: flex;
//     margin-top: 5px;
//     padding: 7px 20px;
//     background-color: rgb(29 35 43);
//     border-radius: 8px;
//     width: 100%;
//     transition: border-color 0.3s ease; /* Smooth transition */
//     border: 2px solid transparent; /* Initial border state */
//     &:focus-within {
//       border-color:  rgb(73 131 230); /* Change border to yellow on focus */
//       border-width: 1.5px;
//       // background-color: rgb(73 131 230
//     }
//     input {
//       width: 100%;
//       height: 40px;
//       font-size: 16px;
//       background-color: inherit;
//       border: none; /* Remove default input border */
//       outline: none;
//       color: #fff;
//     }
//   }
//   .spend-select-wrap {
//     display: flex;
//     align-items: center;

//     img {
//       width: 22px;
//       height: 22px;
//       border-radius: 50%;
//       margin-right: 3px;
//     }
//     span {
//       font-size: 16px;
//     }
//   }

//   .get-wrap {
//     margin-top: 20px;
//     position: relative;
//     h3{
//       font-size: 18px;
//     }
//   }
//   .get-component{
//     display: flex;
//     margin-top: 5px;
//     padding: 7px 20px;
//     // background-color: yellow;
//     background-color: rgb(29 35 43);
//     border-radius: 8px;
//     width: 100%;
    
//     input {
//       width: 100%;
//       height: 40px;
//       font-size: 16px;
//       background-color: inherit;
//       border: none; /* Remove default input border */
//       outline: none;
//       color: #fff;
//     }
//   }
//   .get-select-wrap{
//     display: flex;
//     align-items: center;

//     img {
//       width: 22px;
//       height: 22px;
//       border-radius: 50%;
//       margin-right: 3px;
//     }
//     span {
//       font-size: 16px;
//     }
//   }
//   .buy-sell-btn-wrap{
//     margin-top: 30px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   .buy-sell-btn{
//   background: linear-gradient(127deg, hsla(0, 0%, 100%, .16) 17.35%, hsla(0, 0%, 85%, .04) 76.2%);
//   color: white;
//   padding: 7px 20px;
//   border: none;
//   cursor: pointer;
//   border-radius: 5px;
//   font-size: 16px;
//   }
//   }

//   .fees-review{
//     margin-top: 8px;
//     padding: 10px;
//     border: solid 1px grey;
//     border-radius: 8px;
//     p{
//       font-size: 14px;
//       margin-bottom: 3px;
//     }
//   }

// .coin-list-wrap{
//   // display: none;
//   position: absolute;
//   padding: 8px;
//   background-color: rgb(29, 35, 43);
//   width: 100%;
//   margin-top: 5px;
//   border-radius: 7px;
// }
// .coin-list{
//   display: flex;
//   align-items: center;
//   gap: 5px;
//   margin-bottom: 10px;
//   img{
//     width: 20px;
//     height: 20px;
//     border-radius: 50%;
//   }
//   span{
//     font-size: 13px;
//   }
// }

// .openlist{
//   display: block;
// }
// .openclose{
//   display: none;
// }


// // *******************step====2******************
// .review-box-wrap{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 10px 0px;
//   .box-left{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding: 14px;
//     border-radius: 12px;
//     border: 2px solid rgb(74, 96, 121);
//     background-color: rgb(29 35 43 );
//     border-color: rgb(42 51 62);
//     width: 250px;
//     span{
//       font-size: 12px;
//       margin-bottom: 4px;
//     }
//     .review-coin-wrap{
//       display: flex;
//       align-items: center;
//       margin-bottom: 4px;
//       gap: 6px;
//       img{
//         width: 25px;
//         height: 25px;
//         border-radius: 50%;
//       }
//       span{
//         font-size: 24px;
//       }
//     }
    
//   }
//   .arrow-right-wrap{
//     margin: 0px 12px;
//     position: relative;
//     .exchange-iconwrap{
//       position: absolute;
//       top: 50%;  /* Position in the middle vertically */
//       left: 50%; /* Position in the middle horizontally */
//       transform: translate(-50%, -50%);
//       width:55px;
//       height: 55px;
//       border: 1px solid rgb(74, 96, 121);
//       // border: 1px solid #fff;
//       border-radius: 50%;
//       background-color: var(--modal-background-color) ;
//       display: flex;
//       justify-content: center;  /* Center horizontally */
//       align-items: center;      /* Center vertically */
//     }

//   }
//   .rate-wrap{
//     margin: 8px 0px;
//     font-size: 16px;

//  }
 
// }
// .fees-review{
//   margin-top: 8px;
//   padding: 10px;
//   border: solid 1px grey;
//   border-radius: 8px;
//   p{
//     font-size: 14px;
//     margin-bottom: 3px;
//   }
//   .fees-rap{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin-bottom: 5px;
//     span{
//       font-size: 16px;
//     }

//   }
// }
// .buy-btn-wrap{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 10px 0px;
//   button{
//     padding: 10px 40px;
//     border-radius: 10px;
//     margin: 0 auto;
//     color: #fff;
//     font-size: 18px;
//     background-color: rgb(29 35 43 );
//     // background: linear-gradient(127deg, hsla(0, 0%, 100%, .16) 17.35%, hsla(0, 0%, 85%, .04) 76.2%);
//   }
// }

// }
